<div style="text-align:center">
  <header>
    <h1 class="drac-heading drac-heading-2xl drac-text-cyan">
      Das Familien A-B-C-D
    </h1>
    <hr class="drac-divider drac-border-cyan"/>
  </header>

  <div class="image-box">
    <div class="image-item">
      <img
        class="drac-avatar drac-bg-green-transparent drac-text-green drac-avatar-lg-stroke drac-mb-sm circle-img"
        [ngSrc]="imageAndre" alt="Avatar" width="200" height="200" priority/>
      <div class="drac-box">
        <span class="drac-text drac-text-lg drac-line-height drac-text-green">Andre</span>
      </div>
    </div>

    <div class="image-item">
      <img
        class="drac-avatar drac-bg-green-transparent drac-text-pink drac-avatar-lg-stroke drac-mb-sm circle-img"
        [ngSrc]="imageBeate" alt="Avatar" width="200" height="200" priority/>
      <div class="drac-box">
        <span class="drac-text drac-text-lg drac-line-height drac-text-pink">Beate</span>
      </div>
    </div>

    <div class="image-item">
      <img
        class="drac-avatar drac-bg-green-transparent drac-text-purple drac-avatar-lg-stroke drac-mb-sm circle-img"
        [ngSrc]="imageCecile" alt="Avatar" width="200" height="200" priority/>
      <div class="drac-box">
        <span class="drac-text drac-text-lg drac-line-height drac-text-purple">Cecile</span>
      </div>
    </div>

    <div class="image-item">
      <img
        class="drac-avatar drac-bg-green-transparent drac-text-yellow drac-avatar-lg-stroke drac-mb-sm circle-img"
        [ngSrc]="imageDavin" alt="Avatar" width="200" height="200" priority/>
      <div class="drac-box">
        <span class="drac-text drac-text-lg drac-line-height drac-text-yellow">Davin</span>
      </div>
    </div>
  </div>

  <button class="drac-btn drac-bg-cyan drac-btn-lg drac-m-sm" (click)="onClick()">Click Me!</button>

  <footer>
    <hr class="drac-divider drac-border-cyan"/>
    <span class="drac-text drac-line-height drac-text-cyan">
      Footer - Made with Love
    </span>
  </footer>
</div>

